                    <div class="menu">
	                    <ul>
		                    <li>
		                    	<!--a href="">Usuarios</a-->
		                    	<a href="<{$receiver}>?do=GestionaUsuarios" title="">Usuarios</a>
		                    	<!--[if lte IE 6]><table><tr><td><![endif]-->
		                        <!--ul>
			                        <li><a href="<{$receiver}>?do=GestionaUsuarios" title="">B&uacute;squeda</a></li>
		                        </ul-->
		                    	<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		                    </li>
		
		                    <li><!--[if IE 7]><!--><!--<![endif]-->
		                    	<!--a href="">Veh&iacute;culos</a-->
		                    	<a href="<{$receiver}>?do=GestionaVehiculos" title="">Veh&iacute;culos</a>
								<!--[if lte IE 6]><table><tr><td><![endif]-->
		                        <!--ul>
			                        <li><a href="<{$receiver}>?do=GestionaVehiculos" title="">B&uacute;squeda</a></li>
		                        </ul-->
								<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		                    </li>
		                    <li><!--[if IE 7]><!--><!--<![endif]-->
		                    	<!--a href="">Proveedores</a-->
		                    	<a href="<{$receiver}>?do=GestionaProveedores" title="">Proveedores</a>
								<!--[if lte IE 6]><table><tr><td><![endif]-->
		                        <!--ul>
			                        <li><a href="<{$receiver}>?do=GestionaProveedores" title="">B&uacute;squeda</a></li>
		                        </ul-->
								<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		                    </li>
		                    <li><!--[if IE 7]><!--><!--<![endif]-->
		                    	<!--a href="">Par&aacute;metros</a-->
		                    	<a href="<{$receiver}>?do=GestionaParametros" title="">Par&aacute;metros</a>
								<!--[if lte IE 6]><table><tr><td><![endif]-->
		                        <!--ul>
			                        <li><a href="<{$receiver}>?do=GestionaParametros" title="">B&uacute;squeda</a></li>
		                        </ul-->
								<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		                    </li>
		                    <li><!--[if IE 7]><!--><!--<![endif]-->
		                    	<!--a href="">Campa&ntilde;as</a-->
		                    	<a href="<{$receiver}>?do=GestionaCampanias" title="">Campa&ntilde;as</a>
								<!--[if lte IE 6]><table><tr><td><![endif]-->
		                        <!--ul>
			                        <li><a href="<{$receiver}>?do=GestionaCampanias" title="">B&uacute;squeda</a></li>
		                        </ul-->
								<!--[if lte IE 6]></td></tr></table></a><![endif]-->
		                    </li>
							<!--li><a href="#">Administraci&oacute;n</a>
			                        <ul>
				                        <li><a href="<{$receiver}>?do=AdministraCuenta" title="">Administra Cuenta</a></li>
			                        </ul>
							</li-->
	                    </ul>
                    </div> 

